/* Congo scheme */
:root {
    --color-neutral: 255, 255, 255;
    /* Gray */
    --color-neutral-50: 250, 250, 250;
    --color-neutral-100: 244, 244, 245;
    --color-neutral-200: 228, 228, 231;
    --color-neutral-300: 212, 212, 216;
    --color-neutral-400: 161, 161, 170;
    --color-neutral-500: 113, 113, 122;
    --color-neutral-600: 82, 82, 91;
    --color-neutral-700: 63, 63, 70;
    --color-neutral-800: 39, 39, 42;
    --color-neutral-900: 24, 24, 27;
    /* Orange */
    --color-primary-50: 255, 247, 237;
    --color-primary-100: 255, 237, 213;
    --color-primary-200: 254, 215, 170;
    --color-primary-300: 253, 186, 116;
    --color-primary-400: 251, 146, 60;
    --color-primary-500: 249, 115, 22;
    --color-primary-600: 234, 88, 12;
    --color-primary-700: 194, 65, 12;
    --color-primary-800: 154, 52, 18;
    --color-primary-900: 124, 45, 18;
    /* Fuchsia */
    --color-secondary-50: 253, 244, 255;
    --color-secondary-100: 250, 232, 255;
    --color-secondary-200: 245, 208, 254;
    --color-secondary-300: 240, 171, 252;
    --color-secondary-400: 232, 121, 249;
    --color-secondary-500: 217, 70, 239;
    --color-secondary-600: 192, 38, 211;
    --color-secondary-700: 162, 28, 175;
    --color-secondary-800: 134, 25, 143;
    --color-secondary-900: 112, 26, 117;
  }